@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');


:root {
    font-size: 14px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}