
$Soft-Cyan: hsl(174, 77%, 80%);
$Strong-Cyan: hsl(174, 86%, 45%);
$Light-Grayish-Red: hsl(14, 92%, 95%);
$Light-Red: hsl(15, 100%, 70%);
$Pale-Blue: hsl(226, 100%, 87%);

// Neutral

$White: hsl(0, 0%, 100%);
$Grey: hsl(228, 12%, 67%);
$Very-Pale-Blue: hsl(230, 100%, 99%);
$Light-Grayish-Blue: hsl(224, 65%, 95%);
$Light-Grayish-Blue-2: hsl(223, 50%, 87%);
$Grayish-Blue: hsl(225, 76%, 42%);
$Dark-Desaturated-Blue: hsl(227, 35%, 25%);